/* ----------------------------------------------- */
/* HEADER                                          */
/* ----------------------------------------------- */
/* MOBILE FIRST */
.main-header {
    display: flex;
    flex-direction: column-reverse;
 
}

#menu {
    display: none;

    /* Hacer funcionar el checkbox -> Hacer funcionar el menú hamburgüesa */
    &:checked + .nav-bar {
        display: block;
    }
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_selectors */
    &:checked ~ .search-bar .menu-toogle .menu-toogle__label {
        background-color: yellow;
    }


}
#buscar{
    display: none;
    &:checked +.search_button {
        display: block;
    }
}

/* ----------------------------------------------- */
/* NAVBAR                                          */
/* ----------------------------------------------- */

.nav-bar {
    background-color: #FF5757;
    display: none;
    &__nav-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;
    } 

    &__nav-item { /* .nav-bar__nav-item */
        font-size: 20px;
        &:hover {
            font-size: 21px;
            background-color: #dff346aa
    
    }
    }
    &__nav-link {
        display: block;
        text-align: center;
        padding: 1rem 2rem;
        border-style: ridge;
        color: rgb(251, 250, 250);
    }

        /* DESKTOP ->  max 1200px  */
    @media screen and (min-width: 1200px) {
        & {
            display: block;
            flex-wrap: nowrap;
            box-shadow: 1px 1px 20px 1px rgb(244, 178, 178) inset;
        } 
        &__nav-list{         
                    flex-direction:row;
                    justify-content: space-evenly; 
        } 
        &__nav-link {
            border-radius: 20px;        
            }
        &__nav-item { /* .nav-bar__nav-item */
        
                        width: 20vw;
                        font-size: 25px;
                        transition: width 2s, height 0s;
                        &:hover {
                            width: 22vw; 
                            font-size: 28px;
                            border-radius: 20px;
                            background-color: #dff346aa
                    
                    }
            
            }
        
    }
     
    

   
}

/* ----------------------------------------------- */
/* SEARCH BUTTON                                         */
/* ----------------------------------------------- */
 .search_button{
    background-color:white;
    display:none;
    margin-top: 2px;
    
    &__form-submit {
        cursor:pointer;
        display: flex;
        justify-content: center;
        color: white;
        align-items: center;
        font-size: 6vw; // Aumenta el tamaño 
        
        
        &__buscar{
            cursor:pointer;
            font-size: 4vw; 
            margin-right: 0.5rem;
            border-color: beige;
        }
        &__eliminar{
            cursor:pointer;
            font-size: 4vw; 
            border-color: beige;
            margin-left: 0.5rem;
        }
    }
        &__form-search{
            background-color: white;
            font-size: 1.5rem;
            width: 80%;
            border-style: ridge;
            border-color: beige;
        }

       /* TABLET ->  max 992px  */
          @media screen and (min-width: 992px){
          & {
            &__form-submit{
                  font-size: 4vw;
                  &__buscar{
                   font-size: 2vw;
                     }
                  &__eliminar{   
                   font-size: 2vw;  
                        }
                     }
                }
            }
        /* DESKTOP ->  max 1200px  */
        @media screen and (min-width: 1200px){
        & {
            &__form-submit{
                font-size: 3vw;
                &__buscar{
                    font-size: 2vw;
            }
            &__eliminar{   
                    font-size: 2vw;  
            }
            }
        }
    }
 }
/* ----------------------------------------------- */
/* SEARCH BAR                                          */
/* ----------------------------------------------- */

.search-bar {
    display:flex;
    background-color:#FF5757;
    justify-content:space-around;
    width: 100%;
    align-items: center;

    &__logo-container{
        width:60vw;
        text-align: center;
    }
    &__logo { /* .search-bar__logo-container */
        height: auto;
        width: auto;
        object-fit: contain;
        width:40vw;
    }
    &__carrito-container {
        /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */ 
        cursor:pointer;
        text-align: center; /* Centra horizontalmente */
        align-self: center;/* Centra verticalmente */
        color: white;
        font-size: 6vw; // Aumenta el tamaño 
    }
    /* TABLET ->  max 576px  */
    &__logo { /* .search-bar__logo-container */
        @media screen and (min-width: 576px){
            width:12rem;  
        }
    }
    /* responsivo ->  max 992px  */
    @media screen and (min-width: 992px){
        &__carrito-container {
            font-size: 4 vw; // Aumenta el tamaño 
    }
   }
    /* DESKTOP ->  max 1200px  */
    @media screen and (min-width: 1200px){
    &__logo-container{
            width:70vw; 
    }
    &__logo { /* .search-bar__logo-container */
            width:15rem;  
}
   &__carrito-container {
        font-size: 3vw;
    }
}
}

/* ----------------------------------------------- */
/* MENU TOOGLE                                        */
/* ----------------------------------------------- */
/* MOBILE FIRST */

.menu-toogle{
    display: block;
    background-color: #FF5757;
    flex: 0 0 3rem; /*  0 0 3rem no crecerá, no se encogerá, y tendrá un tamaño base de 3rem*/
    position: relative;
    cursor:pointer;
    &__label { /* .menu-toogle__label */
        display: block;
        background-color: #FF5757;
        height: 100%;
    }
    &__top-bread,
    &__meat,
    &__bottom-bread{
        display: block;
        background-color: white;
        height: .3rem;
        position:absolute;
        left: 0rem;
        right: 0rem;
    }
    &__top-bread{
        top:1rem;
    }
    &__meat { /*Centrar sin usar flexbox */
        top:50%; /*Se centre al 50% del elemento (vertical)*/
        margin-top: -0.2rem; /*al left le resto la mitad lo que mide */
    }
    &__bottom-bread{
        bottom: 1rem;
    }

        /* DESKTOP ->  max 1200px  */
    @media screen and (min-width: 1200px) {
        & { /* .menu-toogle */
            display: none;
        }
    }
}